<div class="container">
    <h1>Edit User</h1>
    <%= simple_form_for(@user, url: user_path(@user.id), html: { method: :put }) do |f| %>
        <strong>Email Assigned to Account: </strong> <%= @user.email %>
        <p><%= f.input :account_name, placeholder: "Account Name", :label => "Account Name", :class => 'text-right', :input_html=> { :class => "form-control" }  %></p>
        <p><%= f.input :merchant_id, placeholder: "Merchant Id Number", :label => "Merchant Id", :class => 'text-right', :input_html=> { :class => "form-control" }  %></p>
        <%= f.input :role, as: :string, label: "Check box to make admin:" do %>
            <%= f.check_box :role, {}, "admin", "employee" %>
        <% end %>
        <%= f.submit :class => "btn btn-success" %> <%= link_to 'Back', user_path(@user), :class => 'btn btn-default' %>
    <% end %>
    
</div>