<div class="container">
    
    <h1> All Users</h1>
       
    <p> 
        <%= form_tag users_path, method: :get do |f| %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Search" %>
        <% end %> 
    </p>

        <% @users.each do |user| %>
            <% if user.account_name.nil? %>
                <p><%= link_to user.email, user_path(user) %></p>
            <% else %>
                <p>Account Name: <%= link_to user.account_name, user_path(user) %></p>
            <% end %>
            
	    <% end %>

</div>