<div class="container">

    <% user = User.find params[:id] %>
    <h1>User Info</h1>
        <p>Email: <%= user.email %> </p>
        <p>Merchant ID: <%= user.merchant_id %></p>
        <p>Account Name: <%= user.account_name %></p>
        <p>Role: <%= user.role %></p>
        <p>Id: <%= user.id %></p>
    
    <p><%= link_to 'Edit User', edit_user_path(user), :class => 'btn btn-default' %> 
    | <%= link_to 'Delete User', @user,
            method: :delete, :class => 'btn btn-default',
	        data: {confirm: 'Are you sure you want to delete this user?'}  
	    %></p>
    
    
        <h1>User's Deals</h1>
                      
        <% user.deals.each do |deal| %>
        <p><%= link_to deal.name, deal_path(deal) %> | 
        <%= link_to 'Complete Deal', edit_deal_path(deal) %></p>
        <% end %>
    
    
    <%= link_to 'Back to All Users', users_path, :class => "btn btn-default" %>
    <br>
    <br>

</div>