<% if @deal.errors.any? %>
	<div class = container>
		<div id="error_explanation" >
			<h3>
				<%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved: </h3>
			<ul>
				<% @deal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				    <% end %>
			   </ul>
		</div>
	</div>
<% end %>

<%= simple_form_for(@deal) do |f| %>
    <p><%= f.input :name, :placeholder  => "Opportunity Name", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
    <p><%= f.input :account_name, :placeholder  => "Account Name", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
    <p><%= f.input :feature_country, :priority => ["South Africa"] %></p>
    <p><%= f.input :email_to, :placeholder   => "Email List To", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control", :value => current_user.email } %></p>
    <p><%= f.input :capacity_info, :placeholder  => "Capacity Information", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
    <p><%= f.input :highlights, :placeholder   => "Highlights", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
    <p><%= f.input :description, :placeholder   => "Description", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>


    <%= f.submit :class => "btn btn-success" %>

<% end %><br>