<div class="container">
    
    <h1> All Users</h1>
       
    <p> 
        <%= form_tag all_users_path, method: :get do |f| %>
        <%= text_field_tag :q, params[:q] %>
        <%= submit_tag "Search" %>
        <% end %> 
    </p>

        <% @users.each do |user| %>
            <p><%= link_to user.email, deals_personal_path(user) %></p>
            <%= simple_form_for(user, url: edit_user_registration_path(user.id), html: { method: :put }) do |f| %>
                   <%= f.input :role, as: :string, label: "Check box to make admin:" do %>
                       <%= f.check_box :role, {}, "admin", "employee" %>
                   <% end %>
                       <%= f.button :submit, "Make Admin", :class=>"btn btn-default form-sub-2" %>
            <% end %>
	    <% end %>

</div>