<div class="container">
    <% if current_user.role == "admin" %>
        <h1>Complete Opportunity</h1>
        <h3>Opportunity Summary: </h3>
        <p>Opportunity Name: <%= @deal.name %></p>
        <p>Account Name: <%= @deal.account_name %></p>
        <p>Close Date: <%= @deal.created_at %></p>
        <%= render 'admin_form' %>
    <% else %>
        <h1>Edit Opportunity</h1>
        <%= render 'form' %>
    <% end %>
    <br>
    <br>
    <br>
</div>