<div class="container">
    <h1><%= @deal.name %> | <%= link_to 'Add Product', new_deal_product_path(@deal)%></h1> 
    
    
    <% if current_user.role == "admin" %> 
        <p>Account Name: <%= @deal.account_name %></p>
        <p>City Planner: <%= @deal.city_planner %></p>
        <p>Payment Terms: <%= @deal.payment_terms %></p>
        <p>Months to Expiration: <%= @deal.months_to_expiration %></p>
        <p>Fine Print: <%= @deal.fine_print %></p>
        <p>Fulfillment Method: <%= @deal.fulfill_method %></p>
        <p>Freight Allowance: <%= @deal.freight_allowance %></p>
        <p>Maximum Delivery Days: <%= @deal.max_delivery_days %></p>
        <p>Courier: <%= @deal.courier %></p>
    <% end %> 

    <p>Email Link To: <%= @deal.email_to %></p>
    <p>Capacity Information: <%= @deal.capacity_info %></p>
    <p>Highlights: <%= @deal.highlights %></p>
    <p>Description: <%= @deal.description %></p>
    
    <p>Shipping SLA: <%= @deal.shipping_sla %></p>
    <p>Brand: <%= @deal.brand %></p>
    <% if deal.cloned %>
        <p>Timestamp: <%= @deal.updated_at %></p>
    <% else %>
        <p>Timestamp: <%= @deal.created_at %></p>
    <% end %>
  
    
    <%= render @deal.products %>
    
    <% if current_user.role == "employee" %>
        <%= link_to 'Send Approval Email', mailers_approval_path, :class => "btn btn-default" %>
    <% end %>
    
    <br>
    <br>

</div>