<div class="container">
 
<h1>All Deals</h1>

<p>
    <%= form_tag show_all_path, method: :get do |f| %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Filter" %>
    <% end %> 
</p>

<% @deals.each do |deal| %>
    <h2><%= link_to deal.name, deal_path(deal) %></h2>
    <% if deal.flag %>
        Sell price has been modified 
        <img src="../img/red_flag.png" HEIGHT = 30 WIDTH = auto>
    <% end %>
    <p><%= deal.stage %></p>

    <% if deal.stage == "Prospecting" || deal.stage == "Deny" %>
        <%=link_to 'Approve', :action => :approve, :id => deal.id %>
        |<%=link_to 'Deny', :action => :deny, :id => deal.id %>
    <% elsif deal.stage == "Approve" %>
        <%= link_to 'Complete Deal', edit_deal_path(deal) %>
    <% end %>
    
<% end %>

<br>
<br>

</div>
