<div class="container">
 
<h1>All Opportunities</h1>

<p>
    <%= form_tag show_all_path, method: :get do |f| %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Filter" %>
    <% end %> 
</p>

<% @deals.order(:created_at).reverse.each do |deal| %>
   <div class="foxyboxy">
    <%= link_to deal.name, deal_path(deal) %>
    <% if deal.flag %>
        Sell price has been modified 
        <img src="../img/red_flag.png" HEIGHT = 30 WIDTH = auto>
    <% end %>
    <p>Stage: <%= deal.stage %></p>

    <% if deal.stage != "Complete" || deal.stage != "Approved" %>
        <%=link_to 'Approve', :action => :approve, :id => deal.id %>
        | <%=link_to 'Deny', :action => :deny, :id => deal.id %>
    <% elsif deal.stage == "Approved" %>
        <%= link_to 'Complete Deal', edit_deal_path(deal) %>
    <% end %>
     <p>
        
    </p>
    </div>
    <p>
        
    </p>
<% end %>

<br>
<br>

</div>
