<div class="container">
 
<h1>All Opportunities</h1>

<p>
    <%= form_tag show_all_path, method: :get do |f| %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Filter" %>
    <% end %> 
</p>

<% @deals.order(:created_at).reverse.each do |deal| %>
   <div class="foxyboxy">
        <p>
            
        </p>
    
    <div class="row">
     <div class="col-md-1">
        <% if !deal.products[0].nil? %>
      	     <%= image_tag deal.products[0].avatar.url(:thumb) %>
      	<% end %>
     </div>
     <div class="col-md-9">
        <%= link_to deal.name, deal_path(deal) %>
        <% if deal.flag %>
            Sell price has been modified 
            <img src="../img/red_flag.png" HEIGHT = 30 WIDTH = auto>
        <% end %>
    
     	<div class=".col-sm-4">	
     	     <p><strong>Account Name:</strong> <%= deal.account_name %></p>
     	     <p><strong>Stage:</strong>
     	     <%= deal.stage %></p>
         </div>

        <% if deal.stage != "Complete" && deal.stage != "Approved" %>
            <%=link_to 'Approve', :action => :approve, :id => deal.id %>
            | <%=link_to 'Deny', :action => :deny, :id => deal.id %>
        <% elsif deal.stage == "Approved" %>
            <%= link_to 'Complete Deal', edit_deal_path(deal), :class => 'btn btn-primary btn-xs' %>
        <% end %>
    </div>
     <p>
        
    </p>
    </div>
    <p>
        
    </p>
<% end %>

<br>
<br>

</div>
