<div class="container">
    <h1><%= @deal.name %> <%= link_to 'Add Deal Option', new_deal_product_path(@deal), :class => 'btn btn-default' %></h1>

    
    
   <div class="row">
       <div class="col-md-6">
        <% if current_user.role == "admin" %> 
            <p><strong>Account Name:</strong> <%= @deal.account_name %></p>
            <p><strong>City Planner:</strong> <%= @deal.city_planner %></p>
            <p>Payment Terms: <%= @deal.payment_terms %></p>
            <p>Months to Expiration: <%= @deal.months_to_expiration %></p>
            <p>Fine Print: <%= @deal.fine_print %></p>
            <p>Fulfillment Method: <%= @deal.fulfill_method %></p>
            <p>Freight Allowance: <%= @deal.freight_allowance %></p>
            <p>Maximum Delivery Days: <%= @deal.max_delivery_days %></p>
            <p>Courier: <%= @deal.courier %></p>
        </div>
        <div class="col-md-6">
            <p>Division: Merchandizing (ZA) </p>
        <% end %> 
        
            <p>Email Link To: <%= @deal.email_to %></p>
            <p>Capacity Information: <%= @deal.capacity_info %></p>
            <p>Highlights: <%= @deal.highlights %></p>
            <p>Description: <%= @deal.description %></p>
            
            <p>Shipping SLA: <%= @deal.shipping_sla %></p>
            <p>Brand: <%= @deal.brand %></p>
            <% if @deal.cloned %>
                <p>Timestamp: <%= @deal.updated_at %></p>
            <% else %>
                <p>Timestamp: <%= @deal.created_at %></p>
            <% end %>
        </div>
    </div>
    

    <br><br>
    
    <div class="table-responsive">
    <table class="table table-hover table-condensed">
        <caption>List of Deal Options:</caption>
        <thead>
            <tr>
                <th>Option Name</th>
                <th>Display Order</th>
                <% if current_user.role == "admin" %>
                    <th>Unit Buy Price</th>
                <% else %>
                    <th>Unit Sell Price</th>
                <% end %>
                <% if current_user.role == "admin" %>
                    <th>Unit Sell Price</th>
                <% end %>
                <th>Unit Value</th>
                <th>Option Commission</th>
                <th>Option Cap</th>
                <th>Sell Number</th>
                <th>Action</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <% @deal.products.each do |product| %>
            <tr>
               <td><%= link_to product.option_name, deal_product_path(@deal, product) %></td>
               <td><%= product.display_order %></td>
               <td><%= product.unit_buy_price %></td>
               <% if current_user == "admin" %>
                   <td><%= product.unit_sell_price%></td>
               <% end %>
               <td><%= product.unit_value %></td>
               <td><%= product.option_commission %></td>
               <td><%= product.option_cap %></td>
               <td><%= product.sell_number %></td>
               <td>
                   <%= link_to 'Edit', edit_deal_product_path(@deal, product) %> |
                   <%= link_to 'Delete', [@deal, product],
                                method: :delete,
                                data: { confirm: 'Are you sure you want to delete this deal option?' } %>
               </td>
               <% if !product.avatar_file_name.nil? %>
                   <td><%= image_tag product.avatar.url(:thumb) %></td>
               <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    
    <br>
    
    <%= link_to 'Send Approval Email', mailers_approval_path, :class => "btn btn-default" %>
    
    
    <br>
    <br>
    
</div>


