<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1><%= @deal.name %></h1>
        </div>
        <div class="col-md-2">
            <% if @deal.stage != "Approved" && @deal.stage != "Complete" %>
            <h1><%= link_to 'Send Approval Email', mailers_approval_path, :class => "btn btn-default" %></h1>
            <% end %>
        </div>
    </div>
    
   <div class="row">
       <div class="col-md-6">
        <% if current_user.role == "admin" %> 
            <p><strong>Opportunity Name:</strong> <%= @deal.opportunity_name %></p>
            <p><strong>Account Name:</strong> <%= @deal.account_name %></p>
            <p><strong>City Planner:</strong> <%= @deal.city_planner %></p>
            <p><strong>Payment Terms:</strong> <%= @deal.payment_terms %></p>
            <p><strong>Months to Expiration:</strong> <%= @deal.months_to_expiration %></p>
            <p><strong>Fine Print:</strong> <%= @deal.fine_print %></p>
            <p><strong>Fulfillment Method:</strong> <%= @deal.fulfill_method %></p>
            <p><strong>Freight Allowance:</strong> <%= @deal.freight_allowance %></p>
            <p><strong>Maximum Delivery Days:</strong> <%= @deal.max_delivery_days %></p>
            <p><strong>Courier:</strong> <%= @deal.courier %></p>
            <p><strong>Shipping SLA:</strong> <%= @deal.shipping_sla %></p>
            <p><strong>Brand:</strong> <%= @deal.brand %></p>
        </div>
        <div class="col-md-6">
            <p><strong>Division:</strong> Merchandizing (ZA) </p>
        <% end %> 
        
            <p><strong>Email Link To:</strong> <%= @deal.email_to %></p>
            <p><strong>Capacity Information:</strong> <%= @deal.capacity_info %></p>
            <p><strong>Highlights:</strong> <%= @deal.highlights %></p>
            <p><strong>Description:</strong> <%= @deal.description %></p>
            
            
            <% if @deal.cloned %>
                <p><strong>Close Date Timestamp:</strong> <%= @deal.updated_at %></p>
            <% else %>
                <p><strong>Close Date Timestamp:</strong> <%= @deal.created_at %></p>
            <% end %>
        </div>
    </div>
    

    <br><br>
    
    <div class="table-responsive">
    <table class="table table-hover table-condensed">
        <caption>List of Deal Options:</caption>
        <thead>
            <tr>
                <th>Option Name</th>
                <th>Display Order</th>
                <% if current_user.role == "admin" %>
                    <th>Unit Buy Price</th>
                <% else %>
                    <th>Unit Sell Price</th>
                <% end %>
                <% if current_user.role == "admin" %>
                    <th>Unit Sell Price</th>
                <% end %>
                <th>Unit Value</th>
                <th>Option Commission</th>
                <th>Option Cap</th>
                <th>Sell Number</th>
                <th>Action</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <% @deal.products.order(:display_order).each do |product| %>
            <tr>
               <td><%= link_to product.option_name, deal_product_path(@deal, product) %></td>
               <td><%= product.display_order %></td>
               <td><%= product.unit_buy_price %></td>
               <% if current_user.role == "admin" %>
                   <td><%= product.unit_sell_price%></td>
               <% end %>
               <td><%= product.unit_value %></td>
               <td><%= product.option_commission %></td>
               <td><%= product.option_cap %></td>
               <td><%= product.sell_number %></td>
               <td>
                   <% if @deal.stage != "Approved" && @deal.stage != "Complete" %>
                   <%= link_to 'Edit', edit_deal_product_path(@deal, product),  :class => "btn btn-success btn-xs" %> 
                   <%= link_to 'Delete', [@deal, product],
                                method: :delete,
                                data: { confirm: 'Are you sure you want to delete this deal option?' }, 
                                :class => "btn btn-danger btn-xs" %>
                    <% end %>
               </td>
               <% if !product.avatar_file_name.nil? %>
                   <td><%= image_tag product.avatar.url(:thumb) %></td>
               <% end %>
            </tr>
            <% end %>
        </tbody>
    </table>
    </div>
    
    <% if @deal.stage != "Approved" && @deal.stage != "Complete" %>
        <%= link_to 'Add Deal Option', new_deal_product_path(@deal), :class => 'btn btn-primary btn-xs' %>
    <% end %>
    <br>
    <br>
    <p>
        
    </p>
    <% if !@deal.comments.empty? %>
        <strong>Message from Admin: </strong>
        <%= render @deal.comments %>
    <% end %>
    <br>
    <% if @deal.stage == "Denied" && current_user.role == "admin"%>
        <strong>Send message about deal denial:</strong>
        <%= render 'comments/form' %>
    <% end %>
    

        
    
    
</div>


