<% if @deal.errors.any? %>
	<div class = container>
		<div id="error_explanation" >
			<h3>
				<%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved: </h3>
			<ul>
				<% @deal.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				    <% end %>
			   </ul>
		</div>
	</div>
<% end %>

<%= simple_form_for([@deal, @deal.products.build], multipart: true) do |f| %>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li>
                  <a href="#1" data-toggle="tab">Basic Info</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab">Expiration</a>
                </li>   
                <li>
                    <a href="#3" data-toggle="tab">Price/Costs</a>
                </li> 
                <li>
                    <a href="#4" data-toggle="tab">Dimensions</a>
                </li> 
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="1">      
                    <form id="personal-data" class="form-horizontal">
                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                <p>
                                  <%= f.input :option_name, :label  => "Option Name", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                </p>
                            </div>
                        </div>
                    </div>


                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <%= f.input :avatar, as: :file, :label => "Add Image" %>
                        </div>
                    </div>
                </div>

                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                <p>
                                    <%= f.input :sell_number, :label => "Sell SKU/UPC/EAN Number", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p>
                                <%= f.input :country_origin, :priority => ["South Africa"] %>
                             </p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :units_per_carton, :placeholder  => "(e.g. 2)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :cartons_per_pallet, :placeholder  => "(e.g. 10)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :pallets_stackable %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :expiration_type, :placeholder  => "(e.g. Relative to Feature)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :months_to_expiration,  :placeholder  => "(e.g. 6)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :days_to_expiration,  :placeholder  => "(e.g. 180)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>  
            <div class="tab-pane" id="3">
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :unit_value,  :placeholder  => "(e.g. 5,500.00)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <% if current_user.role == "employee" %>
                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                 <p><%= f.input :unit_buy_price, :label => "Unit Sell Price", :placeholder  => "(e.g. 3,250.00)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                        </div>
                    </div>
                <% else %>
                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                 <p><%= f.input :unit_buy_price, :label => "Unit Buy Price", :placeholder  => "(e.g. 3,250.00)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                        </div>
                     </div>
                <% end %>
                <% if current_user.role == 'admin' %>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :unit_sell_price, :label => "Unit Sell Price", :placeholder  => "(e.g. 3,299.00)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <% end %>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :option_commission, :label => "Option Commission", :placeholder  => "(e.g. 21.75)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :est_shipping_cost, :label => "Estimated Shipping Cost per Unit",  :placeholder  => "(e.g. 105.50)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :buyer_max, :label => "Buyer Max", :placeholder  => "(e.g. 25)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :option_cap, :label => "Option Cap", :placeholder  => "(e.g. 30)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :display_order,  :placeholder  => "(e.g. 1)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :sell_number,  :placeholder  => "Sell SKU/UPC/EAN Number", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="4">
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :weight_uom, :label => "Weight Unit of Measurement",  :placeholder  => "(e.g. kg)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :dimensions_uom, :label => "Dimensions Unit of Measurement",  :placeholder  => "(e.g. cm)", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_height, :label  => "Retail Package Height", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_length, :label  => "Retail Package Length", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_weight,  :label  => "Retail Package Weight", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_width, :label  => "Retail Package Width", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_height, :label  => "Product Dimension Height", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_length, :label  => "Product Dimension Length", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_width, :label  => "Product Dimension Width", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_weight, :label  => "Product Dimension Weight", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_height, :label  => "Master Carton Height",  :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_length, :label  => "Master Carton Length", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_width, :label  => "Master Carton Width",  :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_weight, :label  => "Master Carton Weight",  :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>       
            </div>
            <div class="modal-footer">
                   <%= f.submit 'Create Deal Option', :class => "btn btn-success" %>
                </div>    
            </div>
        </div>
<% end %>


