<%= simple_form_for([@deal, @product]) do |f| %>
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li>
                  <a href="#1" data-toggle="tab">Basic Info</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab">Expiration</a>
                </li>   
                <li>
                    <a href="#3" data-toggle="tab">Price/Costs</a>
                </li> 
                <li>
                    <a href="#4" data-toggle="tab">Dimensions</a>
                </li> 
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="1">      
                    <form id="personal-data" class="form-horizontal">
                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                <p>
                                  <%= f.input :option_name, :placeholder  => "name", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class = "modal_body">
                        <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                                <p>
                                    <%= f.input :sell_number, :placeholder  => "sku", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p>

                             </p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :units_per_carton, :placeholder  => "units/carton", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :cartons_per_pallet, :placeholder  => "cartons/pallet", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :pallets_stackable %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="2">
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :expiration_type, :placeholder  => "expiration type", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :months_to_expiration,  :placeholder  => "months left", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div>
                        <div class = "modal_body">
                          <div class="row">
                            <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :days_to_expiration,  :placeholder  => "months left", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>  
            <div class="tab-pane" id="3">
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                             <p><%= f.input :unit_value,  :placeholder  => "unit value", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :unit_sell_price,  :placeholder  => "unit price", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :option_commission,  :placeholder  => "option comission", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :est_shipping_cost,  :placeholder  => "shipping cost", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :buyer_max,  :placeholder  => "buyer max", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :option_cap,  :placeholder  => "option max", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                 <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">                    
                             <p><%= f.input :display_order,  :placeholder  => "display order", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="4">
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :weight_uom,  :placeholder  => "weight", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_height,  :placeholder  => "height", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
                <div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_length,  :placeholder  => "length", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_weight,  :placeholder  => "weight", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :retail_package_width,  :placeholder  => "width", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_height,  :placeholder  => "height", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_length,  :placeholder  => "length", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_width,  :placeholder  => "width", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :product_dimension_weight,  :placeholder  => "weight", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_height,  :placeholder  => "height", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_length,  :placeholder  => "length", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_width,  :placeholder  => "width", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div><div class = "modal_body">
                    <div class="row">
                        <div class="col-med-offset-3 col-md-6">
                            <p><%= f.input :master_carton_weight,  :placeholder  => "weight", :label_html => { :class => 'text-right' }, :input_html=> { :class => "form-control" } %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                   <%= f.submit :class => "btn btn-success" %>
                </div>    
            </div>
        </div>
<% end %>
